@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    padding: 30px;
    font-family: Roboto;
}

header {
    display: flex;
    justify-content: flex-end;
}

.search {
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 200px;
    padding: 10px;
    margin: 1rem;
    box-shadow: 1px 3px 4px 5px gray;
    background-color: gray;
    border-radius: 8px;
}

.moive,
img {
    width: 100%;
    border-radius: 8px;
}

.search-movies {
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-info {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 20px;
}

.overview {
    color: #000000;
    font-style: italic;
}

span {
    color: lightgreen;
    font-weight: bold;
}